#!/usr/bin/env python3
tilt_id = {{ tilt_id }}
tilt_sg_adjust = {{ tilt_sg_adjust }}
read_interval = {{ read_interval }}
dropbox_token = {{ dropbox_token }}
dropbox_folder = {{ dropbox_folder }}
brewfatherCustomStreamURL = {{ brewfatherCustomStreamURL }}
