[Unit]
Description=readsensors reads Tilt and DS18B20 probe readings and streams to DropBox and BrewFather

[Service]
User=root
Group=root
ExecStart=/opt/logFermentation/main.py

[Install]
WantedBy=multi-user.target