#!/usr/bin/env python3
tilt_id = "{{ tilt_id }}"
tilt_sg_offset = {{ tilt_sg_offset }}
tilt_sg_slope = {{ tilt_sg_slope }}
tilt_tempC_offset = {{ tilt_tempC_offset }}
read_interval = {{ read_interval }}
dropbox_token = "{{ dropbox_token }}"
dropbox_folder = "{{ dropbox_folder }}"
brewfatherCustomStreamURL = "{{ brewfatherCustomStreamURL }}"
